*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0B131E;
}
.navbar{
  display: flex;
  padding-left: 10px;
  align-items: center;
  width: 100%;
  height: 60px;
}
.search-input{
  background-color: #202B3B;
  font-size: 15px;
  font-weight: bold;
  color: white;
  height: 40px;
  min-width: 260px;
  width: 30%;
  border-radius: 12px;
  border: none;
  padding-left: 10px;
}
.region-name{
  padding-left: 10px;
  color: #DCDFE4;
}
.container{
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 45%;
  height: 300px;
  color: white;
  border: 1px solid #202B3B;
}
.container .top{
  display: flex;
  height: 43%;
}
.container .top *{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.container .top .top-left{
  padding: 5%;
}
.container .top .top-left p{
  
}
.weather-condition-icon{
  max-width: 45%;
}
.container .top .top-right{
  gap: 10px;
  flex-direction: column;
}
.container .center{
  display: flex;
  align-items: center;
  padding-left:68%;
  height: 12%;
  font-size: 30px;
}
.container .bottom{
  height: 45%;
}
.forecast{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.day{
  text-align: center;
}
.error-page,.not-found{
  background-color: #202B3B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.error-container,.not-found-container{
  text-align: center;
}
.error-message,.back-to-home-link{
  color: rgb(217, 255, 0);
}